{% extends 'navigation.html' %}

{% load static %}
{% block content %}


<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>GPS</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/aboutuscss.css' %">
        <link rel="icon" href="images/minilogo.png" type="{% static 'images/minilogo.png' %}">
        <script src="https://kit.fontawesome.com/c5e4be97dd.js" crossorigin="anonymous"></script>
        <style>

            .page6{
               background: white;
            }
        </style>
    </head>
    <body>
    <!--Start ANNOUNCEMENT and NAVIGATION BAR--------------------------->
    
  
<!-- END -->


<div class="flipcard">
    <div class="title">
    <h1>ABOUT US</h1>
    <p><i>"We can reach our hand of help in proper distance"</i></p>
    </div>

    <!--flipcard 1-->
    <div class="center1">
        <div class="front-face1">
            <div class="contents1 front1">
                <p>Establised</p>
            
            </div>
        </div>
        <div class="back-face1">
            <div class="contents1 back1">
                <h2>GPS</h2>
                <span>2021</span>
                <pre>
                   Government Pandemic Subsidy 
                   is established in March 2021
                   as a educational requirements for 
                   web development 2
                    </pre>
            </div>
        </div>
    </div>


 
     <!--flipcard 2-->
    <div class="center2">
        <div class="front-face2">
            <div class="contents2 front2">
                <p>Purpose</p>
               
            </div>
        </div>
        <div class="back-face2">
            <div class="contents2 back2">
                <h2>Help</h2>
                <!-- <span>PHP 135.0</span> -->
                    <pre>
                       GPS is an ideal Government 
                       funded assistance for 
                       Filipinos affected by COVID-19
                    </pre>
            </div>
        </div>
    </div>

         
     <!--flipcard 3-->
     <div class="center3">
        <div class="front-face3">
            <div class="contents3 front3">
                <p>Beneficiaries</p>
                
            </div>
        </div>
        <div class="back-face3">
            <div class="contents3 back3">
                <h2>Who will receive</h2>
                <span>the subsidy</span>
                <pre>
                   The beneficiaries of the subsidy 
                   are Filipinos belong to marginalized
                   sectors.
                    </pre>
            </div>
        </div>
    </div>

         
    
    </div>
{% endblock %}