{% extends 'navigation.html' %}

{% load static %}
{% block content %}
<form class="inquireandcomment" method="POST" action="UpdateInq/{{ Inqs.id }}" >
    {% csrf_token %}

    <label for="nameinquires">Name</label><br>
            <input style="border-radius: 20px;border: 2px solid black; height: 25px; text-align: center;"type="text" value="{{ Inqs.iname }}"id="nameinquiries" name="nameinquiries" placeholder="Name"><br>

            
    <label for="message" class="message">Type of message</label><br>
            
            <select name="typemessage" value="{{ Inqs.typemessage }}"id="typemessage">
            <option value="suggestion">Suggestion</option>
            <option value="question">Question</option>
            <option value="comment">Comment</option>
         
            </select>
            
            <h3>Compose your message here</h3>
            <textarea value="{{ Inqs.message }}" style="border: 2px solid black;"type="text" name="message" id="message"  cols="40" rows="13" ></textarea><br>

            <p>Please rate your experience! 1 being the lowest and 5 being the excellent</p>
            <select value="{{ Inqs.rate }}" name="rate" id="rate">
                <option value="Poor">Poor</option>
                <option value="Weak">Weak</option>
                <option value="Good">Good</option>
                <option value="Very Good">Very Good</option>
                <option value="Excellent">Excellent</option>
                </select>

                <button type="submit">UPDATE</button>


                </form>

{% endblock %}